body {
    background-image: url("CelticMeaningOfSymbolicTrees.jpg");
}

.nav {
    color: white;
    /* background-color:bisque; */
    height: 20px;
    position: relative;
    height: 30px;
    padding: 7px;

}

.nav a {
    color: white;
    padding: 80px;
    text-decoration: none;
}

.nav ul {
    display: flex;
}

.nav li {
    display: inline-block;
}

.search {
    position: absolute;
    right: 0px;
    top: 0px;
}

.main {
    color: white;
    /* background-color: bisque; */
    width: 300px;
    height: 110px;
    font: bold;
    position: relative;
    top: 100px;
    left: 100px;
}

.lorem {
    /* background-color: blueviolet; */
    position: relative;
    top: 110px;
    width: 600px;
    color: white;
}

.login {
    background-color: black;
    height: 400px;
    width: 350px;
    float: right;
    position: relative;
    bottom: 130px;
    right: 70px;
    border-radius: 20px;
}

.title {
   background-color: white;
    width: 280px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 2px;
    margin-top: 20px;
}

.title h3 {
    position: relative;
    left: 90px;
    color: orange;
    font: bold;
}

.email {
    color: red;
    position: relative;
    top: 50px;
    left: 40px;
}

.pass {
    color: red;
    position: relative;
    top: 70px;
    left: 40px;
}

.log {
    color: black;
    background-color:orange;
    width: 280px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    top: 100px;
}

.log h3 {
    position: relative;
    left: 110px;
}

.sign {
    color: red;
    position: relative;
    width: 280px;
    top: 110px;
    left: 40px;
    /* background-color: aquamarine; */
}

.in {
    position: absolute;
    right: 0px;
    top: 0px;
}