body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(133, 131, 131);

}


button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;
    border: none;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

#calculator {
    /* border: 3px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(48, 46, 46);
    max-width: 500px;
    border-radius: 20px;
    overflow: hidden;
}

#display {
    width: 100%;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: rgb(99, 97, 97);
    padding: 17px;
    /* border: 2px solid white; */
    color: white;
}

button:hover{
    background-color: rgb(88, 86, 86);
}

button:active {
    background-color: rgb(152, 148, 148);

}

.operators {
    background-color: rgb(214, 140, 2);
}

.operators:hover {
    background-color: rgb(245, 187, 70);
}

.operators:active {
    background-color: rgb(204, 141, 15);

}